<link rel="icon" href="/favicon.ico/" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/_scripts/{{theme}}"></link>
<script type="text/javascript">
function load_css(css_file){
  var fileref=document.createElement("link")
  fileref.setAttribute("rel", "stylesheet")
  fileref.setAttribute("type", "text/css")
  fileref.setAttribute("href", css_file)
  document.getElementsByTagName("head")[0].appendChild(fileref)

}
function load(){
  var e = document.getElementById("theme");
  var theme = e.options[e.selectedIndex].value;
  load_css(theme);
  localStorage.setItem("theme", theme);
  //alert(localStorage.getItem("{{board}}"))
}

function get_theme(){
  if(localStorage.getItem("theme")){
    return localStorage.getItem("theme");
  }
  else{
    return "/_scripts/{{theme}}"
  }

}
//load_css("/_scripts/test3.css")
load_css(get_theme());
</script>
<label for="theme">Theme: </label>
<select id="theme" onchange="load()">
  {%for i in themes()%}
  <option value="/_scripts/{{i}}">{{i[0:len(i)-4]}}</option>
  {%endfor%}


</select>
<script type="text/javascript">
  function set(s, v) {
    for ( var i = 0; i < s.options.length; i++ ) {
        if ( s.options[i].value == v ) {
            s.options[i].selected = true;
            return;
        }
    }
}

set(document.getElementById('theme'),get_theme());
</script>




<title>/{{board}}/ - RikChan</title>
<center>{{board_list() | safe}}</center><hr>
<center></br><img style="max-width:50vw; width:450px;" src=/_banner/{{random()}}></center><hr>
<form action = "/{{board}}/" method = "post" enctype=multipart/form-data><body>
         <body>
          <center>
        <h1>/{{board}}/</h1>
        <p1>{{desc}}</p1>
         <p><input type = "text" name = "subject" placeholder="subject" style="width: 70%;" /><br>
         <input type = "text" name = "name" placeholder="name" style="width: 70%;" value="{{anon}}"/><br>
         <textarea id="body" rows="4" style="width: 70%;" placeholder="body" name="body"></textarea><br>
         <input type = "password" name = "password" placeholder="password" style="width: 70%;" value="{{gen(5)}}"/><br><br>
         <input type="file" name="file">

         <p1><button class="button" value="upload"><b>Create Thread</b></p1></button></p>
      </form>
    </br></br>
      <font size="2">jpeg , jpg , gif , png and webm below the size of <b>4mb</b> is allowed. Read <a href="/rules">Rules</a> before posting </font>
      </center>
   </body>




<script type='text/javascript'>
    function zoomzoom(id) {

    if(document.getElementById(id).style.width=="500px"){document.getElementById(id).style.width="250px";}else{document.getElementById(id).style.width="500px"}


    }
</script>

<center><a href="/">Go back to Main Page</a></center></br>
<form action="/{{board}}/_del_" method = "post">
<div class="background">
<hr>
{%for t in threads%}


	<div class="one">
              {%if t.img_num %}
                {%if t.img_ext!="webm" %}
                <a href="../media/{{board}}{{t.img_num}}.{{t.img_ext}}">
                    {{t.img_name}}</a></br>
                    <span class="left"><img src="../media/{{board}}{{t.img_num}}.{{t.img_ext}}" alt="{{t.img_name}}" id="{{board}}{{t.img_num}}.{{t.img_ext}}" style="width:250px;" onclick="zoomzoom('{{board}}{{t.img_num}}.{{t.img_ext}}')"></br></span>
                {%else%}
                <a href="../media/{{board}}{{t.img_num}}.{{t.img_ext}}">
                    {{t.img_name}}</a></br>
                <span class="left"><video width="320" height="240" controls>

                  <source src="../media/{{board}}{{t.img_num}}.{{t.img_ext}}" type="video/webm">

               </video></br></span>
                {%endif%}
            {%endif%}



  <div class="transboxx">


          <span class="left"><input type="checkbox" name="{{t.id}}" value="THREAD"></span>

    {%if "#" not in t.name%}
          <b><font color="red">{{t.subject}}</font></b> <b><font color="green">{{t.name}}</font></b> {{t.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}} No.<a href="/{{board}}/{{t.id}}?r={{t.id}}">{{t.id}}</a> [<a href="/{{board}}/{{t.id}}">Reply</a>] ▷<font size="2">
        {%for a in refer.query.filter_by(board=board).filter_by(replied_to=t.id).all()%}
          &nbsp;<a href="{{url_maker(a.own_id , board)}}">>>{{a.own_id}}</a>
        {%endfor%}
      </font>
    {%else%}
          <b><font color="red">{{t.subject}}</font></b> <b><font color="purple">{{t.name}}</font></b> {{t.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}} No.<a href="/{{board}}/{{t.id}}?r={{t.id}}">{{t.id}}</a> [<a href="/{{board}}/{{t.id}}">Reply</a>] ▷<font size="2">
        {%for a in refer.query.filter_by(board=board).filter_by(replied_to=t.id).all()%}
          &nbsp;<a href="{{url_maker(a.own_id , board)}}">>>{{a.own_id}}</a>
        {%endfor%}
      </font>
    {%endif%}


        </br>
             <p>{{green(t.body , board) | safe}}</p>

           {%if len(Post.query.filter_by(board=board).filter_by(thread_id = t.id).all()) > bo.max_posts_displayed %}

           <font size=2>{{len(Post.query.filter_by(board=board).filter_by(thread_id = t.id).all()) - bo.max_posts_displayed}} reply/replies hidden, click Reply to view all</font>

           {%endif%}





   </div>





{%for p in Post.query.filter_by(board=board).filter_by(thread_id = t.id).all()[::-1][0:bo.max_posts_displayed][::-1]%}
<span class="left">&gt;&gt;</span>

  <div class="transbox">

    {% if "#" not in p.name %}
          <span class="left"><input type="checkbox" name="{{p.id}}" value="POST"></span>

          <b><font color="green">{{p.name}}</font></b> {{p.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}} No.<a href="/{{board}}/{{t.id}}?r={{p.id}}">{{p.id}}</a>▷<font size="2">
          {%for a in refer.query.filter_by(board=board).filter_by(replied_to=p.id).all()%}
          &nbsp;<a href="{{url_maker(a.own_id , board)}}">>>{{a.own_id}}</a>

        {%endfor%}

      </font>
    {%else%}
          <span class="left"><input type="checkbox" name="{{p.id}}" value="POST"></span>

          <b><font color="purple">{{p.name}}</font></b> {{p.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}} No.<a href="/{{board}}/{{t.id}}?r={{p.id}}">{{p.id}}</a>▷<font size="2">
          {%for a in refer.query.filter_by(board=board).filter_by(replied_to=p.id).all()%}
          &nbsp;<a href="{{url_maker(a.own_id , board)}}">>>{{a.own_id}}</a>

        {%endfor%}

      </font>


    {%endif%}

        </br>
        <p>


            {%if p.img_num %}
            <a href="../media/{{board}}{{p.img_num}}.{{p.img_ext}}">
                    {{p.img_name}}</a></br>
                {%if p.img_ext!="webm" %}
                    <img src="../media/{{board}}{{p.img_num}}.{{p.img_ext}}" alt="{{p.img_name}}" id="{{board}}{{p.img_num}}.{{p.img_ext}}" onclick="zoomzoom('{{board}}{{p.img_num}}.{{p.img_ext}}')"></br></br>
                {%else%}
                <video width="320" height="240" controls>

                  <source src="../media/{{board}}{{p.img_num}}.{{p.img_ext}}" type="video/webm">

               </video></br></br>
                {%endif%}
            {%endif%}

          {{green(p.body , board) | safe}}</br></p>






   </div>
</br>
</br>
   {%endfor%}
   <p>       </p>

   </div>
   <hr>
   {%endfor%}
</div>
</br></br>
Delete:
  <input type = "password" name = "password" placeholder="password" size=50/>
           <button class="button" value="upload"><b>SUMBIT</b></button>
</form>

 <center>
<font size=2>Images uploaded are the responsibility of the Poster. Comments are owned by the Poster</br>
<a href="https://python.org">Python3</a> + <a href="https://palletsprojects.com/p/flask/">Flask</a> + <a href="https://www.github.com/hrik2001/RikChan">RikChan</a></font></center>
</body>
