
<script type="text/javascript">
function load_css(css_file){
  var fileref=document.createElement("link")
  fileref.setAttribute("rel", "stylesheet")
  fileref.setAttribute("type", "text/css")
  fileref.setAttribute("href", css_file)
  document.getElementsByTagName("head")[0].appendChild(fileref)

}
function load(){
  var e = document.getElementById("theme");
  var theme = e.options[e.selectedIndex].value;
  load_css(theme);
  localStorage.setItem("theme", theme);
  //alert(localStorage.getItem("{{board}}"))
}

function get_theme(){
  if(localStorage.getItem("theme")){
    return localStorage.getItem("theme");
  }
  else{
    return "/_scripts/{{theme}}"
  }

}
//load_css("/_scripts/test3.css")
load_css(get_theme());
</script>
<label for="theme">Theme: </label>
<select id="theme" onchange="load()">
  {%for i in themes()%}
  <option value="/_scripts/{{i}}">{{i[0:len(i)-4]}}</option>
  {%endfor%}
  

</select>
<script type="text/javascript">
  function set(s, v) {
    for ( var i = 0; i < s.options.length; i++ ) {    
        if ( s.options[i].value == v ) {
            s.options[i].selected = true;
            return;
        }
    }
}

set(document.getElementById('theme'),get_theme());
</script>



<title>/{{board}}/ - RikChan</title><body>
<center>{{board_list() | safe}}</center><hr>
<center></br><img style="width:50%;" src=/_banner/{{random()}}></center><hr>
<form action = "/{{board}}/{{thread_id}}/" method = "post" enctype=multipart/form-data>
         <body>
          <center>
        <h1>/{{board}}/</h1>
         <p><input type = "text" name = "name" placeholder="name" size=50 value="{{anon}}"/></p>
         <p><input type = "text" name = "options" placeholder="options" size=50/></p>
         <textarea id="body" rows="4" cols="50" placeholder="body" name="body">{{reply}}</textarea>

         <p><input type = "password" name = "password" placeholder="password" size=50 value="{{gen(5)}}"/></p>
            <input type="file" name="file">
         <p1><button class="button"><b>SUMBIT</b></p1></button>
      </form>
      </center>
      </br>
      <center>
      <font size="2">jpeg , jpg , gif , png and webm below the size of <b>4mb</b> is allowed. Read <a href="/rules">Rules</a> before posting </font></center>
      </center>
   </body>


<a href = {{url_for("board_home" , board=board)}}> <font> <center> Go back to {{board}} </center> </font> </a>
</br>






<script type='text/javascript'>
    function zoomzoom(id) {

    if(document.getElementById(id).style.width=="500px"){document.getElementById(id).style.width="150px";}else{document.getElementById(id).style.width="500px"}


    }

    function addText(event) {
      var targ = event.target || event.srcElement;
      document.getElementById("body").value += ">>"+ (targ.textContent || targ.innerText) + " ";
    }

</script>


<form action="/{{board}}/_del_" method = "post">
<hr>
  <div class="one">
{%if thread.img_num %}
                {%if thread.img_ext!="webm" %}
                <a href="/media/{{board}}{{thread.img_num}}.{{thread.img_ext}}">
                    {{thread.img_name}}</a></br>
                    <span class="left"><img src="/media/{{board}}{{thread.img_num}}.{{thread.img_ext}}" alt="{{thread.img_name}}" id="{{board}}{{thread.img_num}}.{{thread.img_ext}}" onclick="zoomzoom('{{board}}{{thread.img_num}}.{{thread.img_ext}}')"></br></span>
                {%else%}
                <a href="/media/{{board}}{{thread.img_num}}.{{thread.img_ext}}">
                    {{thread.img_name}}</a></br>
                <span class="left"><video width="320" height="240" controls>

                  <source src="/media/{{board}}{{thread.img_num}}.{{thread.img_ext}}" type="video/webm">

               </video></br></span>
                {%endif%}
            {%endif%}



  <div class="transboxx">
      {%if "#" not in thread.name%}

        <span class="left"><input type="checkbox" name="{{thread.id}}" value="THREAD"></span>

          <b><font color="red">{{thread.subject}}</font></b> <b><font color="green">{{thread.name}}</font></b> {{thread.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}} No.<a onclick="addText(event)" href="javascript:;">{{thread.id}}</a><font size="2">
          {%for a in refer.query.filter_by(board=board).filter_by(replied_to=thread.id).all()%}
          &nbsp;<a href="{{url_maker(a.own_id , board)}}">>>{{a.own_id}}</a>
        {%endfor%}
      </font>
      {%else%}
        <span class="left"><input type="checkbox" name="{{thread.id}}" value="THREAD"></span>

          <b><font color="red">{{thread.subject}}</font></b> <b><font color="purple">{{thread.name}}</font></b> {{thread.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}} No.<a onclick="addText(event)" href="javascript:;">{{thread.id}}</a><font size="2">
          {%for a in refer.query.filter_by(board=board).filter_by(replied_to=thread.id).all()%}
          &nbsp;<a href="{{url_maker(a.own_id , board)}}">>>{{a.own_id}}</a>
        {%endfor%}
      </font>
      {%endif%}
        </br>
        <p>{{green(thread.body , board) | safe}}</br></p>


        </body>



   </div>


{%for p in posts%}
<span class="left">&gt;&gt;</span>

  <div class="transbox">
      <section id="{{p.id}}">

        {% if "#" not in p.name %}

          <span class="left"><input type="checkbox" name="{{p.id}}" value="POST"></span>

          <span class="left"><b><font color="green">{{p.name}}</font></b> {{p.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}} No.<a onclick="addText(event)" href="javascript:;">{{p.id}}</a></span> <font size="2">
          {%for a in refer.query.filter_by(board=board).filter_by(replied_to=p.id).all()%}
          &nbsp;<a href="{{url_maker(a.own_id , board)}}">>>{{a.own_id}}</a>

        {%endfor%}

      </font>
      {%else%}
          <span class="left"><input type="checkbox" name="{{p.id}}" value="POST"></span>

          <span class="left"><b><font color="purple">{{p.name}}</font></b> {{p.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}} No.<a onclick="addText(event)" href="javascript:;">{{p.id}}</a></span> <font size="2">
          {%for a in refer.query.filter_by(board=board).filter_by(replied_to=p.id).all()%}
          &nbsp;<a href="{{url_maker(a.own_id , board)}}">>>{{a.own_id}}</a>

        {%endfor%}

      </font>
      {%endif%}

        </br>
        <p>


            {%if p.img_num %}
            <a href="/media/{{board}}{{p.img_num}}.{{p.img_ext}}">
                    {{p.img_name}}</a></br>
                {%if p.img_ext!="webm" %}
                    <img src="/media/{{board}}{{p.img_num}}.{{p.img_ext}}" alt="{{p.img_name}}" id="{{board}}{{p.img_num}}.{{p.img_ext}}" onclick="zoomzoom('{{board}}{{p.img_num}}.{{p.img_ext}}')"></br></br>
                {%else%}
                <video width="320" height="240" controls>

                  <source src="/media/{{board}}{{p.img_num}}.{{p.img_ext}}" type="video/webm">

               </video></br></br>
                {%endif%}
            {%endif%}

          {{green(p.body , board) | safe}}</br></p>






   </div>
</br>
</br>
   {%endfor%}
 </div>
<hr>
Delete:
  <input type = "password" name = "password" placeholder="password" size=50/>
           <button class="button" value="upload"><b>SUMBIT</b></button>
</form>
 <center>
<font size=2>Images uploaded are the responsibility of the Poster. Comments are owned by the Poster</br>
<a href="https://python.org">Python3</a> + <a href="https://palletsprojects.com/p/flask/">Flask</a> + <a href="https://www.github.com/hrik2001/RikChan">RikChan</a></font></center>
</body>

